<?xml version="1.0"?>
<launch>
    <arg name="vehicle" default="iris"/>
    <arg name="gui" default="false"/>
    <arg name="world" default="$(find px4)/Tools/simulation/gazebo-classic/sitl_gazebo-classic/worlds/empty.world"/>

    <include file="$(find px4)/launch/mavros_posix_sitl.launch">
        <arg name="vehicle" value="$(arg vehicle)"/>
        <arg name="world" value="$(arg world)"/>
        <arg name="gui" value="$(arg gui)"/>
    </include>

    <node pkg="rosservice" type="rosservice" name="override_thr_mdl_fac" 
          args="call --wait /mavros/param/set &quot;param_id: 'THR_MDL_FAC'&#10;value: {integer: 0, real: 0.0}&quot;" 
          output="screen"/>

    <node pkg="mpcplanning" type="mpc_planning_node" name="intercept_mpc_node" output="screen" required="true">
        </node>

</launch>
